@import '../../styles/variables';
@include section-title;

.centeredContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 7rem 0 2rem 0;
}

.skills__container {
    grid-template-columns: repeat(3, 350px);
    column-gap: $mb-2;
    justify-content: center;

    // Media query for large devices
    @media screen and (max-width: 992px) {
      grid-template-columns: max-content;
      row-gap: $mb-1;
    }
}

.skills__content {
    background-color: $container-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: $mb-2 $mb-3;
    border-radius: $mb-1-5;

    
    @media screen and (max-width: 576px) {
      padding: $mb-1-5;
    }
}

.skills__title {
    font-size: $normal-font-size;
    font-weight: $font-medium;
    text-align: center;
    margin-bottom: $mb-1-5;
}

.skills__box {
    display: flex;
    justify-content: center;
    column-gap: $mb-2-5;

    
    @media screen and (max-width: 350px) {
      column-gap: $mb-0-75;
    }
}

.skills__group {
    display: grid;
    align-items: flex-start;
    row-gap: $mb-1;
}

.skills__data {
    display: flex;
    column-gap: $mb-0-5;
}

.skills .bx-badge-check {
    font-size: $normal-font-size;
    color: $title-color; 
}

.skills__name {
    font-size: $normal-font-size;
    font-weight: $font-medium;
    line-height: 18px;

    
    @media screen and (max-width: 350px) {
      font-size: $small-font-size;
    }
}

.skills__level {
    font-size: $tiny-font-size;
}
